body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 44em; 
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 100%;
    line-height: 140%;
    color: #494d55;
}
pre {
    border: 1px dotted black;
    background-color: #ececec;
    color: #1111111;
    padding: 0.5em;
}
code {
    font-family: monospace;
}
a {
    text-decoration: none;
    color: #75c181; 
}
h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
}
h2, h3, h4, h5 {
    font-weight: bold;
}
h1.title {
    color: #75c181;
    font-size: 36px;
    font-weight: 500;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-align: left;
    border: none;
    margin-bottom: .5rem;
}
h1 {
    color: #75c181;
    font-size: 36px;
}

h2 {
    font-size: 26px;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 10px;
    margin-top: 80px;
}

h3 {
    font-size: 95%;
}

h4 {
    font-size: 90%;
    font-style: italic;
}

h5 {
    font-size: 90%;
    font-style: italic;
}

dt code {
    font-weight: bold;
}
dd p {
    margin-top: 0;
}

#footer {
    padding-top: 1em;
    font-size: 70%;
    color: gray;
    text-align: center;
}
